p {
    color: rgba(49, 148, 180, 0.815);
}
.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #ddd;
    padding: 16px;
    text-align: center;
}
@media (min-width : 500px) {
    .Person {
        font-weight: 600;
    }
}