.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
button:active {
  outline:0;
}
button:focus {
  outline:0;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.switch    {
    background-color : green ;
    font: inherit ;
    border-color: lightblue;
    padding : 8px;
    color: white;
  }
.red {
  color : red;
}
.bold {
  font-weight: 300;
}
